$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$factor-unspecf-color: #a6cee3;
$factor-inattn-color: #1f78b4;
$factor-fail-yield-color: #b2df8a;
$factor-drowsy-color: #33a02c;
$factor-backing-color: #fb9a99;
$factor-other-color: #e31a1c;
$factor-lost-con-color: #fdbf6f;
$factor-slippy-color: #ff7f00;
$factor-pres-meds-color: #cab2d6;
$factor-turn-imp-color: #6a3d9a;
$factor-blank-color: #ffff99;
$factor-inexp-color: #b15928;
$factor-disable-color: #8dd3c7;
$factor-disregard-color: #bebada;
$factor-distract-color: #fb8072;
$factor-booze-color: #80b1d3;
$factor-wideload-color: #fdb462;
$factor-pass-distract-color: #b3de69;
$factor-view-obstruct-color: #fccde5;
$factor-electronic-device-color: #d9d9d9;
$factor-road-rage-color: #bc80bd;
$factor-ill-color: #ccebc5;
$factor-glare-color: #ffed6f;
$factor-brake-defect-color: Wheat;
$factor-react-vehicle-color: Peru;
$factor-debris-color: Thistle;
$factor-fail-right-color: Maroon;
$factor-pavement-defect-color: DarkGreen;
$factor-snooze-color: #ffffb3;
$factor-steer-color: MediumBlue;
$factor-unsafe-speed-color: MediumOrchid;
$factor-drugs-color: MediumAquaMarine;
$factor-tailgate-color: MediumAquaMarine;
$factor-tire-fail-color: DarkKhaki;
$factor-lane-marking-color: MediumSeaGreen;
$factor-accel-defect-color: PowderBlue;
$factor-bad-traffic-device-color: YellowGreen;
$factor-animal-color: PapayaWhip;
$factor-unsafe-change-color: Aqua;
$factor-passing-color: AquaMarine;
$factor-cell-free-color: DarkRed;
$factor-ped-bike-color: MediumSpringGreen;
$factor-bad-windshield-color: White;
$factor-headlight-defect-color: Plum;
$factor-cell-hand-color: HotPink;
$factor-shoulder-defect-color: SkyBlue;
$factor-lighting-defect-color: Tomato;
$factor-hitch-defect-color: BlueViolet;

$accident-color: #999BA2;
$accident-stroke-color: #000; //#727379;
$death-color: rgb(157, 161, 241);
$death-stroke-color: rgb(92, 83, 121);
$injury-color: rgb(165, 229, 83);
$injury-stroke-color: rgb(94, 107, 77);

$bcolor: #C4CACA;
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic);



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.capitalize {
  text-transform: capitalize;
}

body {
  min-width: 640px;
}

.crash-data-view-wrapper {
  border-bottom: 1px solid $bcolor;
  // border-bottom: 1px solid #C4CACA;
  padding-bottom: 10px;
  margin-bottom: 15px;

  h3 {
    border-right: 1px solid $bcolor;
    margin-top: 10px;
    padding: 0;

    .more-info {
      font-size: 0.5em;
      display: none;
      margin-left: 5px;
    }

    &.linked {
      color: #428bca;
      cursor: pointer;

      .more-info {
        display: inline-block;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.detail-map {
  .crash-data-view-map {
    height : 500px;
  }
}


.crash-data-view {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .crash-data-view-item {
    padding: 0;

    &:nth-child(odd) {
      background-color:  #e7f8f8;
    }
  }
}

.map-wrapper {
  border-top: 1px solid $bcolor;
  padding-top: 20px;
}

.btn-map-controls {
  float: right;
  position: relative;
  top: -12px;
  padding: 5px 40px;
}


.yearly-accident-totals {
  background-color: #F3EEEE;
  margin: 10px auto 20px auto;
  padding: 0 20px;
}

.yearly-total {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
  color: #343444;
  padding-left: 0;

  .total-label {
    font-size: 0.933333em;
    font-weight: normal;
  }

  @media screen and (min-width: 768px) {
    font-size: 1.875em;
  }
}

h2.yearly-total {
  font-size: 2.5em;

  @media screen and (min-width: 768px) {
    font-size: 3.5em;
  }
}

.crash-data-view-map {
  // border: 1px solid black;
  // height: 510px;
  height: 800px;
}

.crash-data-map-controls {
  width: 450px;
  display: none;
  position: absolute;
  z-index: 100;
  background: #E3FFF7;
  right: 20px;
  top: -20px;
  box-shadow: -2px 2px 4px #ADADAD;

  .btn-close {
    float: right;
    margin: 5px -9px 0 0;
    z-index: 2000;
    position: relative;
  }

  h4 {
    border-bottom: 1px solid $bcolor;
  }
}

.jumbotron-wrapper {
  position: absolute;
  top: 0px;
  // bottom: 0px;
  left: 0px;
  right: 0px;
  height: 245vh;
  z-index: 2000;
  background-color: rgba(5, 5, 5, 0.298039);
  padding-top: 20px;
  display: none;


  @media screen and (min-width: 768px) {
    height: 195vh;
  }

  @media screen and (min-width: 960px) {
    height: 185vh;
  }

  @media screen and (min-width: 1024px) {
    height: 155vh;
  }
}

.jumbotron {
  margin: 0 auto;
  width: 70%;
  box-shadow: -2px 2px 4px #ADADAD;

  div {
    font-size: 21px;
  }

  .small {
    font-size: 65%;
  }

  .text-muted {
    color: #3C3A3A;
  }
}

.accident-display {
  padding: 5px;
  cursor: pointer;

  .accident-borough {
    text-transform: capitalize;
  }

  .label {
    color: #6d5555;
    font-size: 85%;
    padding-left: 0;
    font-weight: normal;
  }



  .accident-injured,
  .accident-killed {
    .accident-details {
      font-weight: bold;
      font-size: 110%;
    }
  }
}


body {
  padding: 20px;
  font-family: 'PT Sans', 'Futura', sans-serif;
}

.header {
  padding-bottom: 5px;
  border-bottom: 1px solid $bcolor;

  h3, span {
    font-size: 2em;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #01535f;
    line-height: 1.1;
  }
}

.footer {
  border-top: 1px solid $bcolor;
  padding-top: 15px;
}

.crash-map-view-toggle {
  font-size: 1.2rem;
  border-top: 1px solid $bcolor;
  padding-top: 5px;


  .view-toggle-header {
    border-bottom: 1px solid $bcolor;
  }
}


.accident-path,
.location-path {
  stroke-linejoin: round;
  stroke-linecap: round;
  fill-rule: evenodd;
  stroke: $accident-stroke-color;
  stroke-width: 2px;
  fill: $accident-color;
  stroke-opacity: 0.5;
  fill-opacity: 0.5;

  &:hover {
    // fill: #EBFF00;
    // stroke: #F7A954;
    stroke-opacity: 1;
    fill-opacity: 1;
  }

  &.hidden {
    display: none;
  }
}

.hidden {
  display: none;
}

.hover-accident {
  background-color: #F3E0CB;
  fill: #EBFF00;
  stroke: #F7A954;
  // stroke-opacity: 0.7;
  // fill-opacity: 0.4;
  stroke-opacity: 1;
  fill-opacity: 1;
}

/* This is the map popup */
.accident-details {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .accident-streets {
    text-transform: capitalize;
  }

  .accident-borough {
    text-transform: capitalize;
  }

  .accident-factor {
    text-transform: capitalize;
  }

  .accident-death-total,
  .accident-injury-total {
    font-size: 1.25em;
    font-weight: bold;
  }

  .accident-death,
  .accident-injury {
    font-size: 1.125em;
  }

  li {
    line-height: 1.3;
    font-size: 1.1em;
  }
}

.filter-instruction {
  transition: all 3ms ease;
}

.detail-list {
  list-style: none;
  padding: 0 20px 10px 5px;
  font-size: 2rem;
  margin-top: 10px;

  .btn {
    cursor: default;

    &:hover {
      background-color: #fff;
    }
  }

  div.maki-icon {
    display: inline-block;
    vertical-align: middle;
  }

  li {
    font-size: 0.75em;

    .glyphicon {
      font-size: 1em;
    }

    @media screen and (min-width: 768px) {
      font-size: 1em;

      .glyphicon {
        font-size: 0.8em;
      }
    }
  }
}

.filter-buttons {
  z-index: 1999;
  position: relative;
}

.accident-popup {
  display: none;
  box-shadow: -2px 2px 4px #ADADAD;
  padding: 10px 0 10px 20px;
  width: 410px;
  position: absolute;
  z-index: 1001;
  background: #E3FFF7;
  margin-left: 35px;
  transition: all 2ms ease;

  .btn-danger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  h4 {
    border-bottom: 1px solid $bcolor;
    margin-right: 20px;
    padding-bottom: 2px;
    padding-top: 10px;
  }

  li.btn {
    cursor: default;
  }

  .accident-popup-link {
    cursor: pointer;
    color: #428bca;
    transition: all 2ms ease;

    &:hover {
      color: #2a6496;
      text-decoration: underline;
    }
  }


  div.maki-icon {
    display: inline-block;
    vertical-align: middle;
  }

  .accident-popup-location {
    text-transform: capitalize;
    margin-bottom: 5px;
    width: 84%;
    display: inline-block;
  }

  .accident-popup-info {
    text-transform: capitalize;
    font-size: 1.15em;
  }

  .accident-popup-injuries,
  .accident-popup-killed,
  .accident-popup-factors {
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }

    .accident-popup-factor-item {
      line-height: 2;

      .factor {
        font-weight: bold;
        font-size: 1.125em;
      }
    }
  }

  ol {
    padding-left: 20px;
  }
}

.accident-detail-panel {
  display: block;
  transition: all 0.2s ease;
  border-bottom: 1px solid $bcolor;
  padding: 5px;
  margin: 5px 0;

  &.vanish {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

.glyphicon {
  padding: 4px 0;
}

.factor-header {
  border-bottom: 1px solid $bcolor;
  margin-top: 0;
  padding-left: 5px;
  font-size: 1.5em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.factors {
  list-style: none;
  // padding: 0;
  // margin: 0;
  font-size: 1.25em;
  border: 1px solid $bcolor;
  margin-right: 20px;
  padding: 10px;
  box-shadow: 1px 1px 2px #E4DFDF;

  h3 {
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 1px solid $bcolor;
    margin-right: 30px;
    margin-top: 5px;
  }

  .factor-name {
    font-weight: bold;
  }

  .factor-total {
    text-align: right;
  }

  .view-all-factors {
    font-size: 1.25rem;
    color: #999;
    cursor: pointer;
    text-decoration: underline;
  }
}

.factor-graph {
  list-style: none;
  padding: 0;
  // height: 440px;
  // overflow: hidden;

  .factor-graph-item {
    padding: 5px 0;
  }

  .factor-bar {
    display: inline-block;
    white-space: nowrap;
    background-color: #8D9906;
    vertical-align: middle;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    transition: all .5s ease;
  }

  &.full-height {
    height: auto;
  }
}

.nav .nav-boroughs {
  display: none;
}

.map-layers {
  margin-bottom: 10px;
}


.map-feature-poly {
  &:hover {
    fill: #000;
    fill-opacity: 0.4;
  }
}

.map-tooltip {
  position: absolute;
  background: #E3FFF7;
  box-shadow: -2px 2px 4px #ADADAD;
  padding: 5px;
  text-align: left;
  min-width: 150px;
  font-size: .925em;
  z-index: 1001;
  display: none;
  transition: all 2ms ease;

  .tooltip-filter {
    font-size: 0.75em;
    color: #0b7f7f;
  }

  @media screen and (min-width: 768px) {
    min-width: 200px;
    font-size: 1.25em;
  }
}

.yearly-featured {
  display: none;
}

.map-highlight {
  margin-bottom: 10px;
}

.map-accident-type {
  margin-bottom: 10px;
}

.key-type,
.key-factor {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 0 10px 0;
  // padding: 10px 0 5px 0;
  border: 1px solid #fff;
  transition: all 2ms ease;

  &.active {
    border: 1px solid $bcolor;

    .factor-header {
      background-color: #dfdfdf;
    }
  }
}

.factor-selector,
.type-selector {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .factor-key,
  .type-key {
    display: inline-block;
    height: 12px;
    width: 12px;
    overflow: hidden;
    background-color: #dd44ff;
    border-radius: 100%;
    border: 2px solid;
  }

  .factor-selector-item,
  .type-selector-item {
    cursor: pointer;
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    transition: all 2ms ease;


    @media screen and (min-width: 768px) {
      padding: 5px 5px 4px 6px;
    }

    .factor-count {
      display: none;
    }

    &:hover {
      background-color: #A3FEFF;
    }

    &.active {
      background-color: #dafeff;

      .factor-count {
        display: inline;
      }
    }
  }
}

#loader {
  display: none;
  padding: 50px;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 4em;
  position: fixed;
  top: 30%;
  left: 25%;
  z-index: 1000;

  .fa-car {
    animation-duration: 2s;
    animation-name: load;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
}

@keyframes load {
  from {
    opacity: 0;
  }

  to {
   opacity: 1;
  }
}

.only-death {
  .injury {
    display: none;
  }

  .none-hurt {
    display: none;
  }

  .death {
    opacity: 1;
    stroke-opacity: 1;
    fill-opacity: 1;

    &.injury {
      display: block;
    }

    &.none-hurt {
      display: block;
    }
  }
}

.only-injury {
  .death {
    display: none;
  }

  .none-hurt {
    display: none;
  }

  .injury {
    opacity: 1;
    stroke-opacity: 1;
    fill-opacity: 1;

    &.death {
      display: block;
    }

    &.none-hurt {
      display: block;
    }
  }
}

.month-graph {
  svg {
    // background: #ddd;
  }
}

.drill-down-graph {
  border-bottom: 1px solid $bcolor;
  padding-bottom: 20px;
}

.drill-down-graph .crash-month-line {
  stroke-width: 2px;
  fill: transparent;

  &.flat {
    stroke: #000;
  }
}

.crash-month-hover-line {
  stroke: transparent;
  stroke-width: 20px;
  fill: none;
  cursor: pointer;
}

.drill-down-graph .crash-month-hover-point {
  stroke: transparent;
  fill: transparent;
  cursor: pointer;
}

.crash-month-inner-line {
    shape-rendering: crispEdges;
    stroke-width: 1px;
    stroke: #311bd3;
}

.crash-graph-hover {
  border: solid 1px $bcolor;
  box-shadow: -2px 2px 4px #ADADAD;
  // padding: 10px;
  border-radius: 5px;
  position: fixed;
  z-index: 1001;
  background: #E3FFF7;
  color: #000;
  display: none;

  .hover-value {
    font-size: 1.125em;
    font-weight: bold;
  }

  .hover-label {
    font-weight: normal;
  }

  p{
    padding: 10px;
    margin: 0;

    &:first-child {
      border-bottom: 1px solid $bcolor;
    }
  }

}


.axis {
  shape-rendering: crispEdges;

  &.x {

    path,
    line {
      stroke: #aaa;
      fill: none;
    }

    text {
      font-size: .75em;
    }

    .domain {
      fill: #FAFAFA;
    }
  }

  &.y {

    path,
    line {
      stroke: #aaa;
      fill: none;
    }

    text {
      font-size: 14px;
    }


  }
}

.drill-down-key {
  width: 150px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0 5px;

  .key-item {
    background-color: transparent;
    color: #000;
    border-bottom: 1px solid #aaa;

    &:last-child {
      border-bottom: none;
    }
  }

  hr {
    margin: 0;
    display: inline-block;
    width: 75px;
    margin-right: 20px;
    border-color: inherit;
    border-top-width: 3px;
    padding-bottom: 3px;
  }
}

.factor-highlight,
.factor-selector-item {
  .factor-unspecf,
  .factor-none {
    fill: $factor-unspecf-color;
    stroke: shade($factor-unspecf-color, 30%);
    border-color: shade($factor-unspecf-color, 30%);
    color: $factor-unspecf-color;
    background-color: $factor-unspecf-color;
  }

  .factor-inattn {
    fill: $factor-inattn-color;
    stroke: shade($factor-inattn-color, 30%);
    border-color: shade($factor-inattn-color, 30%);
    color: $factor-inattn-color;
    background-color: $factor-inattn-color;
  }

  .factor-fail-yield {
    fill: $factor-fail-yield-color;
    stroke: shade($factor-fail-yield-color, 30%);
    border-color: shade($factor-fail-yield-color, 30%);
    color: $factor-fail-yield-color;
    background-color: $factor-fail-yield-color;
  }

  .factor-drowsy {
    fill: $factor-drowsy-color;
    stroke: shade($factor-drowsy-color, 30%);
    border-color: shade($factor-drowsy-color, 30%);
    color: $factor-drowsy-color;
    background-color: $factor-drowsy-color;
  }

  .factor-backing {
    fill: $factor-backing-color;
    stroke: shade($factor-backing-color, 30%);
    border-color: shade($factor-backing-color, 30%);
    color: $factor-backing-color;
    background-color: $factor-backing-color;
  }

  .factor-other {
    fill: $factor-other-color;
    stroke: shade($factor-other-color, 30%);
    border-color: shade($factor-other-color, 30%);
    color: $factor-other-color;
    background-color: $factor-other-color;
  }

  .factor-lost-con {
    fill: $factor-lost-con-color;
    stroke: shade($factor-lost-con-color, 30%);
    border-color: shade($factor-lost-con-color, 30%);
    color: $factor-lost-con-color;
    background-color: $factor-lost-con-color;
  }

  .factor-slippy {
    fill: $factor-slippy-color;
    stroke: shade($factor-slippy-color, 30%);
    border-color: shade($factor-slippy-color, 30%);
    color: $factor-slippy-color;
    background-color: $factor-slippy-color;
  }

  .factor-pres-meds {
    fill: $factor-pres-meds-color;
    stroke: shade($factor-pres-meds-color, 30%);
    border-color: shade($factor-pres-meds-color, 30%);
    color: $factor-pres-meds-color;
    background-color: $factor-pres-meds-color;
  }

  .factor-turn-imp {
    fill: $factor-turn-imp-color;
    stroke: shade($factor-turn-imp-color, 30%);
    border-color: shade($factor-turn-imp-color, 30%);
    color: $factor-turn-imp-color;
    background-color: $factor-turn-imp-color;
  }

  .factor-blank {
    fill: $factor-blank-color;
    stroke: shade($factor-blank-color, 30%);
    border-color: shade($factor-blank-color, 30%);
    color: $factor-blank-color;
    background-color: $factor-blank-color;
  }

  .factor-inexp {
    fill: $factor-inexp-color;
    stroke: shade($factor-inexp-color, 30%);
    border-color: shade($factor-inexp-color, 30%);
    color: $factor-inexp-color;
    background-color: $factor-inexp-color;
  }

  .factor-disable {
    fill: $factor-disable-color;
    stroke: shade($factor-disable-color, 30%);
    border-color: shade($factor-disable-color, 30%);
    color: $factor-disable-color;
    background-color: $factor-disable-color;
  }

  .factor-disregard {
    fill: $factor-disregard-color;
    stroke: shade($factor-disregard-color, 30%);
    border-color: shade($factor-disregard-color, 30%);
    color: $factor-disregard-color;
    background-color: $factor-disregard-color;
  }

  .factor-distract {
    fill: $factor-distract-color;
    stroke: shade($factor-distract-color, 30%);
    border-color: shade($factor-distract-color, 30%);
    color: $factor-distract-color;
    background-color: $factor-distract-color;
  }

  .factor-booze {
    fill: $factor-booze-color;
    stroke: shade($factor-booze-color, 30%);
    border-color: shade($factor-booze-color, 30%);
    color: $factor-booze-color;
    background-color: $factor-booze-color;
  }

  .factor-wideload {
    fill: $factor-wideload-color;
    stroke: shade($factor-wideload-color, 30%);
    border-color: shade($factor-wideload-color, 30%);
    color: $factor-wideload-color;
    background-color: $factor-wideload-color;
  }

  .factor-pass-distract {
    fill: $factor-pass-distract-color;
    stroke: shade($factor-pass-distract-color, 30%);
    border-color: shade($factor-pass-distract-color, 30%);
    color: $factor-pass-distract-color;
    background-color: $factor-pass-distract-color;
  }

  .factor-view-obstruct {
    fill: $factor-view-obstruct-color;
    stroke: shade($factor-view-obstruct-color, 30%);
    border-color: shade($factor-view-obstruct-color, 30%);
    color: $factor-view-obstruct-color;
    background-color: $factor-view-obstruct-color;
  }

  .factor-electronic-device {
    fill: $factor-electronic-device-color;
    stroke: shade($factor-electronic-device-color, 30%);
    border-color: shade($factor-electronic-device-color, 30%);
    color: $factor-electronic-device-color;
    background-color: $factor-electronic-device-color;
  }

  .factor-road-rage {
    fill: $factor-road-rage-color;
    stroke: shade($factor-road-rage-color, 30%);
    border-color: shade($factor-road-rage-color, 30%);
    color: $factor-road-rage-color;
    background-color: $factor-road-rage-color;
  }

  .factor-ill {
    fill: $factor-ill-color;
    stroke: shade($factor-ill-color, 30%);
    border-color: shade($factor-ill-color, 30%);
    color: $factor-ill-color;
    background-color: $factor-ill-color;
  }

  .factor-glare {
    fill: $factor-glare-color;
    stroke: shade($factor-glare-color, 30%);
    border-color: shade($factor-glare-color, 30%);
    color: $factor-glare-color;
    background-color: $factor-glare-color;
  }

  .factor-brake-defect {
    fill: $factor-brake-defect-color;
    stroke: shade($factor-brake-defect-color, 30%);
    border-color: shade($factor-brake-defect-color, 30%);
    color: $factor-brake-defect-color;
    background-color: $factor-brake-defect-color;
  }

  .factor-react-vehicle {
    fill: $factor-react-vehicle-color;
    stroke: shade($factor-react-vehicle-color, 30%);
    border-color: shade($factor-react-vehicle-color, 30%);
    color: $factor-react-vehicle-color;
    background-color: $factor-react-vehicle-color;
  }

  .factor-debris {
    fill: $factor-debris-color;
    stroke: shade($factor-debris-color, 30%);
    border-color: shade($factor-debris-color, 30%);
    color: $factor-debris-color;
    background-color: $factor-debris-color;
  }

  .factor-fail-right {
    fill: $factor-fail-right-color;
    stroke: shade($factor-fail-right-color, 30%);
    border-color: shade($factor-fail-right-color, 30%);
    color: $factor-fail-right-color;
    background-color: $factor-fail-right-color;
  }

  .factor-pavement-defect {
    fill: $factor-pavement-defect-color;
    stroke: shade($factor-pavement-defect-color, 30%);
    border-color: shade($factor-pavement-defect-color, 30%);
    color: $factor-pavement-defect-color;
    background-color: $factor-pavement-defect-color;
  }

  .factor-snooze {
    fill: $factor-snooze-color;
    stroke: shade($factor-snooze-color, 30%);
    border-color: shade($factor-snooze-color, 30%);
    color: $factor-snooze-color;
    background-color: $factor-snooze-color;
  }

  .factor-steer {
    fill: $factor-steer-color;
    stroke: shade($factor-steer-color, 30%);
    border-color: shade($factor-steer-color, 30%);
    color: $factor-steer-color;
    background-color: $factor-steer-color;
  }

  .factor-unsafe-speed {
    fill: $factor-unsafe-speed-color;
    stroke: shade($factor-unsafe-speed-color, 30%);
    border-color: shade($factor-unsafe-speed-color, 30%);
    color: $factor-unsafe-speed-color;
    background-color: $factor-unsafe-speed-color;
  }

  .factor-drugs {
    fill: $factor-drugs-color;
    stroke: shade($factor-drugs-color, 30%);
    border-color: shade($factor-drugs-color, 30%);
    color: $factor-drugs-color;
    background-color: $factor-drugs-color;
  }

  .factor-tailgate {
    fill: $factor-tailgate-color;
    stroke: shade($factor-tailgate-color, 30%);
    border-color: shade($factor-tailgate-color, 30%);
    color: $factor-tailgate-color;
    background-color: $factor-tailgate-color;
  }

  .factor-tire-fail {
    fill: $factor-tire-fail-color;
    stroke: shade($factor-tire-fail-color, 30%);
    border-color: shade($factor-tire-fail-color, 30%);
    color: $factor-tire-fail-color;
    background-color: $factor-tire-fail-color;
  }

  .factor-lane-marking {
    fill: $factor-lane-marking-color;
    stroke: shade($factor-lane-marking-color, 30%);
    border-color: shade($factor-lane-marking-color, 30%);
    color: $factor-lane-marking-color;
    background-color: $factor-lane-marking-color;
  }

  .factor-accel-defect {
    fill: $factor-accel-defect-color;
    stroke: shade($factor-accel-defect-color, 30%);
    border-color: shade($factor-accel-defect-color, 30%);
    color: $factor-accel-defect-color;
    background-color: $factor-accel-defect-color;
  }

  .factor-bad-traffic-device {
    fill: $factor-bad-traffic-device-color;
    stroke: shade($factor-bad-traffic-device-color, 30%);
    border-color: shade($factor-bad-traffic-device-color, 30%);
    color: $factor-bad-traffic-device-color;
    background-color: $factor-bad-traffic-device-color;
  }

  .factor-animal {
    fill: $factor-animal-color;
    stroke: shade($factor-animal-color, 30%);
    border-color: shade($factor-animal-color, 30%);
    color: $factor-animal-color;
    background-color: $factor-animal-color;
  }

  .factor-unsafe-change {
    fill: $factor-unsafe-change-color;
    stroke: shade($factor-unsafe-change-color, 30%);
    border-color: shade($factor-unsafe-change-color, 30%);
    color: $factor-unsafe-change-color;
    background-color: $factor-unsafe-change-color;
  }

  .factor-passing {
    fill: $factor-passing-color;
    stroke: shade($factor-passing-color, 30%);
    border-color: shade($factor-passing-color, 30%);
    color: $factor-passing-color;
    background-color: $factor-passing-color;
  }

  .factor-cell-free {
    fill: $factor-cell-free-color;
    stroke: shade($factor-cell-free-color, 30%);
    border-color: shade($factor-cell-free-color, 30%);
    color: $factor-cell-free-color;
    background-color: $factor-cell-free-color;
  }

  .factor-ped-bike {
    fill: $factor-ped-bike-color;
    stroke: shade($factor-ped-bike-color, 30%);
    border-color: shade($factor-ped-bike-color, 30%);
    color: $factor-ped-bike-color;
    background-color: $factor-ped-bike-color;
  }

  .factor-bad-windshield {
    fill: $factor-bad-windshield-color;
    stroke: shade($factor-bad-windshield-color, 30%);
    border-color: shade($factor-bad-windshield-color, 30%);
    color: $factor-bad-windshield-color;
    background-color: $factor-bad-windshield-color;
  }

  .factor-headlight-defect {
    fill: $factor-headlight-defect-color;
    stroke: shade($factor-headlight-defect-color, 30%);
    border-color: shade($factor-headlight-defect-color, 30%);
    color: $factor-headlight-defect-color;
    background-color: $factor-headlight-defect-color;
  }

  .factor-cell-hand {
    fill: $factor-cell-hand-color;
    stroke: shade($factor-cell-hand-color, 30%);
    border-color: shade($factor-cell-hand-color, 30%);
    color: $factor-cell-hand-color;
    background-color: $factor-cell-hand-color;
  }

  .factor-shoulder-defect {
    fill: $factor-shoulder-defect-color;
    stroke: shade($factor-shoulder-defect-color, 30%);
    border-color: shade($factor-shoulder-defect-color, 30%);
    color: $factor-shoulder-defect-color;
    background-color: $factor-shoulder-defect-color;
  }

  .factor-lighting-defect {
    fill: $factor-lighting-defect-color;
    stroke: shade($factor-lighting-defect-color, 30%);
    border-color: shade($factor-lighting-defect-color, 30%);
    color: $factor-lighting-defect-color;
    background-color: $factor-lighting-defect-color;
  }

  .factor-hitch-defect {
    fill: $factor-hitch-defect-color;
    stroke: shade($factor-hitch-defect-color, 30%);
    border-color: shade($factor-hitch-defect-color, 30%);
    color: $factor-hitch-defect-color;
    background-color: $factor-hitch-defect-color;
  }
}

.type-selector-item,
.death-injury-highlight {
  .injury, .injured {
    fill: $injury-color;
    stroke: shade($injury-stroke-color, 30%);
    border-color: shade($injury-stroke-color, 30%);
    color: $injury-color;
    background-color: $injury-color;
  }

  .death, .killed {
    fill: $death-color;
    stroke: shade($death-stroke-color, 30%);
    border-color: shade($death-stroke-color, 30%);
    color: $death-color;
    background-color: $death-color;
  }
}

.year-2012 {
  fill: #ffb128;
  stroke: #ffb128;
  border-color: #ffb128;
  background-color: #ffb128;
  color: #ffb128;
}

.year-2013 {
  fill: #1485cc;
  stroke: #1485cc;
  border-color: #1485cc;
  background-color: #1485cc;
  color: #1485cc;
}

.year-2014 {
  fill: #31ae1d;
  stroke: #31ae1d;
  border-color: #31ae1d;
  background-color: #31ae1d;
  color: #31ae1d;
}

.btn-dropdown-wrapper {
  padding: 0 7px 5px 0;

  .btn {
    padding: 15px 15px;

    @media (min-width: 992px) {
      padding: 5px 7px;
    }
  }

  @media (min-width: 992px) {
    padding-right: 5px;
  }

  display: inline-block;

  .dropdown-menu {
    top: auto;

    @media (min-width: 992px) {
      top: 100%;
    }
  }

  .active {
    background-color: #e6e6e6;
  }
  .child.dropdown-menu {
    left: auto;

    &.flip {
      left: -100%;
    }
  }

  .grandchild.dropdown-menu {
    left: 100%;
    top: auto;
    margin-top: -32px;

    &.flip {
      left: -100%;
    }
  }
}

.graph-btn {
  margin: 4px;
  text-transform: capitalize;
  padding: 4px;
}

.year-selector {
  // margin-top: 10px;
  font-size: 1.15em;
  // padding: 10px 0 5px 0;
  border-width: 1px 0;
  vertical-align: top;
  // height: 20px;

  ul {
    margin-left: 5px;
    padding: 0;
    display: inline-block;
    margin-bottom: 0;
    width: 300px;
  }

  li {
    display: inline-block;
    margin: 0 5px;
    height: 23px;
    vertical-align: bottom;
  }
}

.keys {
  max-width: 510px;
  padding: 0;
  margin: 10px 0;

  li {
    border: 1px solid #000;
    display: inline-block;
    width: 100%;

    &:nth-child(even) {
      border-width: 0 1px;
    }

    &:last-child {
      border-width: 0 1px 1px 1px;
    }

    &:hover {
      background-color: #dfdfdf;
      cursor: pointer;
    }

    &.active {
      background-color: #dfdfdf;
    }
  }

  li.keys-header {

    .key-value {
      text-align: center;
    }

    &:hover {
      cursor: default;
      background-color: #fff;
    }
  }

  .key-value {
    font-weight: bold;
    // width: 60px;
    // display: inline-block;
    // padding: 4px;
    // text-align: right;
    // border: 1px solid #000;
    // border-width: 0 0 0 1px;

    // &:last-child {
    //   border-width: 0;
    // }
  }

  .key-label {
    // width: 193px;
    // display: inline-block;
    // padding: 4px 4px 4px 10px;
    text-transform: capitalize;
  }
}

.trend-header {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.trend-head {
  margin-bottom: 5px;
  padding: 5px 0;
  border-bottom: 1px solid $bcolor;
}

.trend-map {
  height: 500px;
}

.disabler {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.75;
  cursor: none;
}

.trend-left {
  margin: 0;
  padding: 0 0 0 2px;
}

.trend-right {
  padding: 0;
}

.crash-map-hover {
  width: 250px;
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  position: fixed;
  display: none;
  z-index: 2000;
  background-color: rgba(248, 250, 234, 0.94);

  p {
    margin: 0;
    padding: 0;
  }

  .crash-location {
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
  }

  .crash-year {
    font-size: 1.125em;
    font-weight: bold;
  }
}


//Loader
.loader,
.trend-left {
  height: 355px;
}

#floatingCirclesG{
  position:relative;
  width: 128px;
  height: 128px;
  transform:scale(0.6);
  margin: 20px auto;
}

.f_circleG{
position:absolute;
background-color:#FFFFFF;
height:23px;
width:23px;
border-radius:12px;
animation-name:f_fadeG;
animation-duration:1.2s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#frotateG_01{
left:0;
top:52px;
animation-delay:0.45s;
}

#frotateG_02{
left:15px;
top:15px;
animation-delay:0.6s;
}

#frotateG_03{
left:52px;
top:0;
animation-delay:0.75s;
}

#frotateG_04{
right:15px;
top:15px;
animation-delay:0.9s;
}

#frotateG_05{
right:0;
top:52px;
animation-delay:1.05s;
}

#frotateG_06{
right:15px;
bottom:15px;
animation-delay:1.2s;
}

#frotateG_07{
left:52px;
bottom:0;
animation-delay:1.35s;
}

#frotateG_08{
left:15px;
bottom:15px;
animation-delay:1.5s;
}

@keyframes f_fadeG{
0%{
background-color:#CF9B4C}

100%{
background-color:#FFFFFF}

}


/* new layout stuff*/

.stat-count {
  font-size: 1.953em;
  text-align: center;
  color: darkorange;
}

.stat-label {
  font-size: 1.25em;
  text-align: center;

  .label-text {
    display: inline;
  }
}

.stat-group {
  background-color: #f3eeee;
  border-radius: 5px;
  border: 1px solid #a0a0a0;
  margin: 10px 0;

  .stat-title {
    font-size: 1.953em;
    margin: 10px 15px;
    border-bottom: solid 1px #a0a0a0;
  }

  .col-md-4 {
    padding: 0 10px;
  }

  .stat-box {
    background-color: #fff;
    border: solid 1px #a0a0a0;
    border-radius: 3px;
    margin-bottom: 10px;

    p {
      margin: 0;
    }
  }

  // .stat-count {
  //   font-size: 3em;
  // }

  .stat-label {
    font-size: 1.563em;
    text-align: center;

    .fa { display: none; }
    .fa-2x { font-size: 1.25em; }

    @media (min-width: 992px) {
      .fa {
        display: inline;
      }

      .label-text {
        display: none;
      }
    }

    .sticky-label {
      display: inline;
    }
  }
}

.factor-stats {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
  }

  p {
      margin: 0;
  }

  .factor-stat {
    background-color: #f3eeee;
    border: solid 2px #fff;
    border-radius: 5px;
    display: inline-block;
    min-height: 118px; //123px when details show.
    padding: 0 2px 0 2px;

    .stat-count {
      line-height: 1.25;
      font-size: 3em;
    }

    .stat-label {
      line-height: 1.2;

      .label-text {
        text-transform: capitalize;
      }
    }

    @media (min-width: 992px) {
      min-height: 123px;
    }
  }

  .stat-details {
    margin: 5px 10px 0 10px;
    display: none;

    span {
      text-decoration: underline;
      cursor: pointer;
    }

    @media (min-width: 992px) {
      display: block;
      position: absolute;
      bottom: 0;
    }
  }
}

.main-year-selector {
  font-size: 1.563em;
  line-height: 1;
  margin: 5px 0;

  .year-display {
   border-bottom: dashed 1px #a0a0a0;
   cursor: pointer;
  }
}

#crashTable {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

.crash-table-header .crash-table-head-item {
  font-weight: bold;
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}

#crashTable .crash-table-body .crash-table-row .crash-table-item:first-child {
  padding: 5px 40px 5px 5px;
  text-align: left;
}

.crash-table-item {
  border: 1px solid black;
  padding: 5px 2px;
  text-align: center;
}

#factors {
  display: none;
}

#crashMap {
  display: none;
}

.show {
  display: block !important;
}
