$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,700italic);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.crash-data-view-wrapper {
  border-bottom: 1px solid #C4CACA;
  // border-bottom: 1px solid #C4CACA;
  padding-bottom: 10px;
  margin-bottom: 15px;

  h3 {
    border-bottom: 1px solid #C4CACA;
  }
}

.crash-data-view {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .crash-data-view-item {
    padding: 0;

    &:nth-child(odd) {
      background-color:  #e7f8f8;
    }
  }
}


.yearly-total {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
  color: #343444;
  padding-left: 0;
}

h2.yearly-total {
  font-size: 48px;
}

.crash-data-view-map {
  border: 1px solid black;
  height: 510px;
}


.accident-display {
  padding: 5px;
  cursor: pointer;

  .accident-borough {
    text-transform: capitalize;
  }

  .label {
    color: #6d5555;
    font-size: 85%;
    padding-left: 0;
    font-weight: normal;
  }



  .accident-injured,
  .accident-killed {
    .accident-details {
      font-weight: bold;
      font-size: 110%;
    }
  }
}


body {
  padding: 20px;
  font-family: 'PT Sans', 'Futura', sans-serif;
}

.header {
  padding-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;

  h3 {
    font-size: 5em;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #01535f;
  }
}

.footer {
  border-top: 1px solid #e5e5e5;
  padding-top: 15px;
}


.accident_path {
  stroke-linejoin: round;
  stroke-linecap: round;
  fill-rule: evenodd;
  stroke: rgb(0, 51, 255);
  stroke-opacity: 0.5;
  stroke-width: 2px;
  fill: rgb(0, 51, 255);
  fill-opacity: 0.2;

  &:hover {
    fill: #EBFF00;
    stroke: #F7A954;
    stroke-opacity: 0.7;
    fill-opacity: 0.4;
  }
}

.hover-accident {
  background-color: #F3E0CB;
  fill: #EBFF00;
  stroke: #F7A954;
  stroke-opacity: 0.7;
  fill-opacity: 0.4;
}

/* This is the map popup */
.accident-details {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .accident-streets {
    text-transform: capitalize;
  }

  .accident-borough {
    text-transform: capitalize;
  }

  .accident-factor {
    text-transform: capitalize;
  }

  .accident-death-total,
  .accident-injury-total {
    font-size: 1.25em;
    font-weight: bold;
  }

  .accident-death,
  .accident-injury {
    font-size: 1.125em;
  }

  li {
    line-height: 1.3;
    font-size: 1.1em;
  }
}

.detail-list {
  list-style: none;
  padding: 0 20px 10px 5px;
  font-size: 2rem;
  margin-top: 10px;

  div.maki-icon {
    display: inline-block;
    vertical-align: middle;
  }

  li {
    font-size: 1em;

    .glyphicon {
      font-size: 1.125rem;
    }
  }
}

.accident-popup {
  position: absolute;
  padding: 0;
  display: none;
  z-index: 1000;
  left: 30%;

  .btn-popup-close {
    float: right;
    vertical-align: middle;
  }
}

.accident-detail-panel {
  display: block;
  transition: all 0.2s ease;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin: 5px 0;

  &.vanish {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

.glyphicon {
  padding: 4px 0;
}

.factors {
  list-style: none;
  // padding: 0;
  // margin: 0;
  font-size: 1.25em;
  border: 1px solid #bbb;
  margin-right: 20px;
  padding: 10px;
  box-shadow: 1px 1px 2px #E4DFDF;

  h3 {
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
    margin-right: 30px;
    margin-top: 5px;
  }

  .factor-name {
    font-weight: bold;
  }

  .factor-total {
    text-align: right;
  }

  .view-all-factors {
    font-size: 1.25rem;
    color: #999;
    cursor: pointer;
    text-decoration: underline;
  }
}

.factor-graph {
  list-style: none;
  padding: 0;
  // height: 440px;
  // overflow: hidden;

  .factor-graph-item {
    padding: 5px 0;
  }

  .factor-bar {
    display: inline-block;
    white-space: nowrap;
    background-color: #8D9906;
    vertical-align: middle;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    transition: all .5s ease;
  }

  &.full-height {
    height: auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
