<div class="row crash-data-view-wrapper">
  <h3>{{dataset.title}} <span ng-click="showControls()" class="btn btn-sm btn-success btn-map-controls">Map Controls</span></h3>
  <div class="row crash-data-map-controls">
    <div class="col-xs-12">
      <div ng-click="closeControls()" class="btn btn-danger btn-xs btn-close">X Close</div>
    </div>
    <div class="col-sm-4">
      <h4>Highlight:</h4>
      <ul class="nav nav-pills map-highlight">
          <li class="active"><a href="#" ng-click="highlight($event, 'death')">Injury / Death</a></li>
          <li><a href="#" ng-click="highlight($event, 'factors')">Factors</a></li>
      </ul>
    </div>
    <div class="col-sm-5">
      <h4>Filter By:</h4>
      <ul class="nav nav-pills map-layers">
        <li class="nav-boroughs"><a href="#" ng-click="showOverlay('borough')">Boroughs</a></li>
        <li><a href="#" ng-click="showOverlay('community')">Community Boards</a></li>
        <li><a href="#" ng-click="showOverlay('neighborhood')">Neighborhoods</a></li>
        <li><a href="#" ng-click="showOverlay('precinct')">Police Precincts</a></li>
        <li><a href="#" ng-click="showOverlay('zipcode')">Zip Codes</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h4>Show:</h4>
      <ul class="nav nav-pills map-accident-type">
          <li><a href="#" ng-click="displayAccidentType($event, 'death')">Deaths</a></li>
          <li><a href="#" ng-click="displayAccidentType($event, 'injury')">Injuries</a></li>
      </ul>
    </div>
  </div>

  <div class="crash-data-view-map col-xs-12 death-injury-highlight" ng-class="dataset.id">

  </div>
</div>
