
<div class="accident-display row" ng-class="crashData.unique_key">
    <div class="accident-date col-xs-6">
      <span class="label">Date:</span>{{crashData.date | dateDisplayFilter }}
    </div>
    <div class="accident-borough col-xs-6">
      <span class="label">Borough:</span> {{crashData.borough | lowercase }}
    </div>
    <div class="accident-injured col-xs-6">
      <span class="label">Injured:</span> {{crashData.number_of_persons_injured}}
    </div>
    <div class="accident-killed col-xs-6">
      <span class="label">Killed:</span> {{crashData.number_of_persons_killed}}
    </div>
</div>
<!-- borough: "BROOKLYN"
contributing_factor_vehicle_1: "Unspecified"
contributing_factor_vehicle_2: "Unspecified"
date: "2013-12-31T00:00:00"
latitude: "40.5992541"
longitude: "-73.989395"
number_of_cyclist_injured: "0"
number_of_cyclist_killed: "0"
number_of_motorist_injured: "0"
number_of_motorist_killed: "0"
number_of_pedestrians_injured: "0"
number_of_pedestrians_killed: "0"
number_of_persons_injured: "0"
number_of_persons_killed: "0"
off_street_name: "24 AVENUE                       "
on_street_name: "86 STREET                       "
time: "0:02"
unique_key: "125176"
zip_code: "11214"
 -->
