<div class="row crash-data-view-wrapper">

  <div class="col-xs-12 crash-map-view-toggle">
    <h3 class="col-xs-9" ng-click="loadDetails($event)">{{dataset.title}}<span class="more-info">more info..</span></h3>
    <ul class="nav nav-pills map-highlight pull-right">
      <li class="active">
        <a href="#" ng-click="highlight($event, 'death')">
          <i class="fa fa-exclamation-triangle fa-2x"></i>
        </a>
      </li>
      <li>
        <a href="#" ng-click="highlight($event, 'factors')">
          <i class="fa fa-info-circle fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="crash-data-view-map col-xs-12 death-injury-highlight" ng-class="dataset.id"></div>
</div>
