<div class="header">
  <!-- <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul> -->
  <h3 class="text-muted">NYC Crash Stats</h3>
  <p style="margin: 0">(YTD: 2014)</p>
</div>
<div class="row yearly-accident-totals" ng-class="setTotalsClass()">
  <h2 class="yearly-total">Total accidents in 2014: {{yearly.total_accidents | number}}</h2>
  <h3 class="yearly-total col-md-6">Total persons injured in 2014: {{yearly.total_injured | number}}
    <ul class="detail-list">
      <li class="btn btn-default m-r-20"><div class="glyphicon glyphicon-user">&nbsp;</div> {{yearly.pedestrians_injured | number}}</li>
      <li class="btn btn-default m-r-20"><div class="maki-icon bicycle">&nbsp;</div> {{yearly.cyclist_injured | number}}</li>
      <li class="btn btn-default m-r-20"><div class="maki-icon car">&nbsp;</div> {{yearly.motorist_injured | number}}</li>
    </ul>
  </h3>
  <h3 class="yearly-total col-md-6">Total persons killed in 2014: {{yearly.total_killed | number}}
    <ul class="detail-list">
      <li class="btn btn-default m-r-20"><div class="glyphicon glyphicon-user">&nbsp;</div> {{yearly.pedestrians_killed | number}}</li>
      <li class="btn btn-default m-r-20"><div class="maki-icon bicycle">&nbsp;</div> {{yearly.cyclist_killed | number}}</li>
      <li class="btn btn-default m-r-20"><div class="maki-icon car">&nbsp;</div> {{yearly.motorist_killed | number}}</li>
    </ul>
  </h3>
</div>
<div class="row">
  <factor-graph dataset="crashStats.factors_vehicle1" heading="Vehicle 1 Contributing Factors"></factor-graph>
  <factor-graph dataset="crashStats.factors_vehicle2" heading="Vehicle 2 Contributing Factors"></factor-graph>
</div>
<crash-data-view setaccident="setActiveAccident" dataset="crashStats.lastAccidents"></crash-data-view>
<crash-data-view setaccident="setActiveAccident"  dataset="crashStats.lastDeaths"></crash-data-view>
<crash-data-view setaccident="setActiveAccident"  dataset="crashStats.lastInjuries"></crash-data-view>

<div class="footer">
  <p><a href="http://www.wolvesintheserverroom.com/" target="_blank" title="wolvesintheserverroom.com" class='text-muted'>wolvesintheserverroom.com</a></p>
</div>
