<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-click="showJumbo()" ng-href="#">About</a></li>
  </ul>
  <h3 class="text-muted">NYC Crash Stats</h3>
</div>
<div class="jumbotron-wrapper" ng-click="hideJumbo()">
  <div class="jumbotron">
    <h1>About</h1>
    <p>A tool to visualize car crashes in New York City.</p>
    <hr>
    <div>The data is from the <a href="https://data.cityofnewyork.us/" title="NYC OpenData" target="_blank">NYC OpenData Portal</a>: <a href="https://data.cityofnewyork.us/NYC-BigApps/NYPD-Motor-Vehicle-Collisions/h9gi-nx95" target="_blank" title="NYPD Collisions Dataset">NYPD Motor Vehicle Collisions Dataset.</a><br>
      <span class="small text-muted">
        It consists of details of Motor Vehicle Collisions in New York City provided by the Police Department (NYPD).<br>
        There are a few caveats with the data:
        <ol>
          <li>The location is not always recorded, sometimes the latitude and longitude are missing, sometimes the streets are missing and sometimes both are missing. The map is only displaying crashes that have a latitude and longitude specified.</li>
          <li>There are a large amount of crashes with "Unspecified", "Blank", or simply not recorded contributing factors for vehicle 1.</li>
          <li>The data stays as up to date as it can, but this is dependent on how often the city updates it's Vision Zero dataset. You will always see this latest data available.</li>
        </ol>
      </span>
    </div>
    <p>Also checkout <a href="http://visionzero.herokuapp.com/" target="_blank">New York City's Vision Zero Map</a> and contribute additional dangerous intersections and issues.
    <p>The precinct, community district, neighborhood, city council and zipcode shapefiles are from the generous folks at <a href="http://nyc.pediacities.com/Nycpedia" target="_blank">Pediacities</a>.</p>
    <hr>
    <p>The code for this site is available on <a href="https://github.com/akilism/nyc-crash-stats" title="Github:Akilism" target="_blank">Github</a>.</p>
    <p>You can also get in touch with me about suggestions / issues @ <a href="mailto:akilism@wolvesintheserverroom.com">akilism@wolvesintheserverroom.com</a>
  </div>
</div>
<div class="row yearly-accident-totals" ng-class="setTotalsClass()">
  <h4 class="text-muted">Current year to date breakdown:</h4>
  <h2 class="yearly-featured">{{featuredArea}}</h2>
  <h2 class="yearly-total">Total accidents in 2014: {{yearly.total_accidents | number}}</h2>
  <h3 class="yearly-total col-md-6"><span class="total-label">Total persons injured in 2014:</span> {{yearly.total_injured | number}}
    <ul class="detail-list">
      <li class="btn btn-default m-r-20"><div class="glyphicon glyphicon-user">&nbsp;</div> {{yearly.pedestrians_injured | number}}</li>
      <li class="btn btn-default m-r-20"><div class="maki-icon bicycle">&nbsp;</div> {{yearly.cyclist_injured | number}}</li>
      <li class="btn btn-default m-r-20"><div class="maki-icon car">&nbsp;</div> {{yearly.motorist_injured | number}}</li>
    </ul>
  </h3>
  <h3 class="yearly-total col-md-6"><span class="total-label">Total persons killed in 2014:</span> {{yearly.total_killed | number}}
    <ul class="detail-list">
      <li class="btn btn-default m-r-20"><div class="glyphicon glyphicon-user">&nbsp;</div> {{yearly.pedestrians_killed | number}}</li>
      <li class="btn btn-default m-r-20"><div class="maki-icon bicycle">&nbsp;</div> {{yearly.cyclist_killed | number}}</li>
      <li class="btn btn-default m-r-20"><div class="maki-icon car">&nbsp;</div> {{yearly.motorist_killed | number}}</li>
    </ul>
  </h3>
</div>

<div class="row map-wrapper">
  <crash-popup></crash-popup>
  <div class="map-tooltip">&nbsp;</div>
  <div id="loader"><i class="fa fa-car fa-5x"></i></div>
  <div class="col-sm-3" style="padding-left: 0;">
    <factor-graph size="factorListSize" classer="getFactorClass" dataset="factorsVehicle1" heading="Vehicle 1 Contributing Factors"></factor-graph>
  </div>
  <div class="col-sm-9 map-pane">
    <crash-data-view setaccident="showAccidentDetails" classer="getFactorClass" statcalc="calculateYearlyStats" dataset="crashStats.lastAccidents" area="featuredArea"></crash-data-view>
  </div>
</div>

<div class="footer">
  <p><a href="http://www.wolvesintheserverroom.com/" target="_blank" title="wolvesintheserverroom.com" class='text-muted'>wolvesintheserverroom.com</a></p>
</div>
