<h2 class="stat-title">{{stat.title}}</h2>
<ul class="factor-stats clearfix">
    <li class="factor-stat col-xs-3 col-md-2" ng-repeat="item in stat.items.slice(0, 12)" ng-click="itemClickHandler(item.label, type)">
        <p class="stat-count">{{item.count | number}}</p>
        <p class="stat-label">
            <span class="label-text">{{item.label}}</span>
        </p>
        <p class="stat-details clearfix">
            <span class="pct-total pull-left" ng-show="{{item.pctTotal !== 0}}">{{item.pctTotal}}%</span>
            <span class="pct-chg pull-right" ng-show="{{item.pctChange !== 0}}"><i class="fa fa-arrow-circle-o-up"></i>{{item.pctChange}}%</span>
        </p>
    </li>
</ul>
