<area-dropdown dataset="shapes"></area-dropdown>
<drilldowngraph key="total_accidents" dataset="trendStats" timescale="monthly" header="{{'Total crashes ' + title}}"></drilldowngraph>
<br>
<drilldowngraph key="total_injured" dataset="trendStats" timescale="monthly" header="{{'Total injuries ' + title}}"></drilldowngraph>
<br>
<drilldowngraph key="total_killed" dataset="trendStats" timescale="monthly" header="{{'Total deaths ' + title}}"></drilldowngraph>
<!-- <br>
<month-graph key="total_accidents" dataset="monthly" compress="false" header="Total Crashes Citywide"></month-graph>
<br>
<month-graph key="total_injured" dataset="monthly" compress="false" header="Total Injured Citywide"></month-graph>
<br>
<month-graph key="total_killed" dataset="monthly" compress="false" header="Total Killed Citywide"></month-graph> -->
<div class="crash-graph-hover">
  <p class="date"><span class="hover-label">Date:</span> <span class="hover-value"></span></p>
  <p class="amount"><span class="hover-label">Total:</span> <span class="hover-value"></span></p>
</div>
<div class="footer">
  <p><a href="http://www.wolvesintheserverroom.com/" target="_blank" title="wolvesintheserverroom.com" class='text-muted'>wolvesintheserverroom.com</a></p>
</div>
