<header></header>
<div class="trend-head clearfix">
  <div class="col-sm-12" style="padding-left:2px;">
    <h1 class="trend-header">{{title}}</h1>
  </div>
  <div class="col-sm-12 filter-buttons">
    <button-dropdown dataset="menuData"></button-dropdown>
  </div>
</div>
<div class="clearfix">
  <div class="loader col-sm-12" style="display: none;">
      <div id="floatingCirclesG">
        <div class="f_circleG" id="frotateG_01"> </div>
        <div class="f_circleG" id="frotateG_02"> </div>
        <div class="f_circleG" id="frotateG_03"> </div>
        <div class="f_circleG" id="frotateG_04"> </div>
        <div class="f_circleG" id="frotateG_05"> </div>
        <div class="f_circleG" id="frotateG_06"> </div>
        <div class="f_circleG" id="frotateG_07"> </div>
        <div class="f_circleG" id="frotateG_08"> </div>
      </div>
  </div>
  <div class="trend-left col-sm-12">
    <div class="year-selector">Years:
      <ul>
        <li class="checkbox">
          <label>
            <input type="checkbox" ng-model="selectedYears.2012" ng-change="setYear()"> 2012
          </label>
        </li>
        <li class="checkbox">
          <label>
            <input type="checkbox" ng-model="selectedYears.2013" ng-change="setYear()"> 2013
          </label>
        </li>
        <li class="checkbox">
          <label>
            <input type="checkbox" ng-model="selectedYears.2014" ng-change="setYear()"> 2014
          </label>
        </li>
        <li class="checkbox">
          <label>
            <input type="checkbox" ng-model="selectedYears.2015" ng-change="setYear()"> 2015
          </label>
        </li>
      </ul>
    </div>
        <table class="keys" id="crashTable">
  <thead class="keys-header crash-table-header">
    <tr>
      <th class="crash-table-head-item">
        &nbsp;
      </th>
      <th class="crash-table-head-item" ng-repeat="(year, visible) in selectedYears" class="crash-table-head-item" ng-hide="!visible">
        {{year}}
      </th>
      <th class="crash-table-head-item">
        Total
      </th>
    </tr>
  </thead>
  <tbody class="crash-table-body">
    <tr ng-repeat="key in keys" ng-click="switchGraph(key, $event)" ng-class="key" class="crash-table-row key-item">
      <td class="crash-table-item key-label">
        {{key | keyFilter}}
      </td>
      <td  ng-repeat="(year, visible) in selectedYears" class="crash-table-item" ng-hide="!visible">
        {{getButtonVal(key, year, visible)}}
      </td>
      <td class="crash-table-item key-value">{{getButtonVal(key)}}</td>
    </tr>
  </tbody>
</table>

  </div>
  <div class="trend-right col-sm-12">
    <div id="trendMap" class="trend-map col-xs-12 death-injury-highlight"></div>
  </div>
</div>
<div class="crash-map-hover">
  <div class="clearfix">
    <p class="crash-location col-xs-12">{{hoverCrash.on_street_name | lowercase}} & {{hoverCrash.off_street_name | lowercase}}</p>
    <div ng-repeat="(key, value) in hoverCrash.crashes">
      <p class="crash-year">{{key}}</p>
      <p class="crash-count">{{value.totals.total_accidents}} Crashes</p>
      <p class="crash-injured col-xs-6">{{value.totals.number_of_persons_injured}} Injured</p>
      <p class="crash-killed col-xs-6">{{value.totals.number_of_persons_killed}} Killed</p>
    </div>
  </div>
</div>
<drilldowngraph key="graphKey" dataset="unConstrainedStats" timescale="monthly" header="graphHeader"></drilldowngraph>

<div class="crash-graph-hover">
  <p class="date"><span class="hover-label">Date:</span> <span class="hover-value"></span></p>
  <p class="amount"><span class="hover-label">Total:</span> <span class="hover-value"></span></p>
</div>
<div class="footer">
  <p><a href="http://www.wolvesintheserverroom.com/" target="_blank" title="wolvesintheserverroom.com" class='text-muted'>wolvesintheserverroom.com</a></p>
</div>
